# Lab 2

Answer the exercises or complete the tasks outlined in bold, using the specific method described if applicable.

#### EXERCISE 1: String drills
*Objective: Consolidate string manipulation, converting between data types where needed, using .format(), and not crashing due to quote mark issues.*


**1a: Combine these four variables into a single string and print it.**

In [194]:
a = 'Welcome to '
b = 'Python class '
c = 'lab '
d = 2

In [1]:
# YOUR CODE HERE

Welcome to Python class lab 2

**1b: Print `pi` to seven decimal places.**
Use the approximate value given, and .format().

In [14]:
# YOUR CODE HERE:

pi_approx = 355/113

Pi to 7 decimal places: 3.1415929

**1c: Print both of the following:**

    Nick says "hello"
    This is Dharana's sandwich
Strings reference [here](https://docs.python.org/2.0/ref/strings.html) if needed.

In [1]:
# YOUR CODE HERE:

#### EXERCISE 2: Tourist agency
*Objective: Iterate through lists, use string formatting.*

Write a program to print "Welcome to beautiful {country}!" for each country in the list.

In [200]:
country_list = ['Kazakhstan','Kenya', 'Kiribati', "Korea (DPRK)", 'Korea (ROC)', 'Kosovo', 'Kuwait', 'Kyrgyzstan']

In [202]:
# YOUR CODE HERE:

Welcome to beautiful Kazakhstan!
Welcome to beautiful Kenya!
Welcome to beautiful Kiribati!
Welcome to beautiful Korea (DPRK)!
Welcome to beautiful Korea (ROC)!
Welcome to beautiful Kosovo!
Welcome to beautiful Kuwait!
Welcome to beautiful Kyrgyzstan!

#### EXERCISE 3: Quick brown fox
**Split the string below into a list of words, then:**
* print only the second to fifth items in the list
* count the items in the list
* replace "dog" with "dinosaur"

In [138]:
rhyme = "The quick brown fox jumps over the lazy dog"

# YOUR CODE HERE:

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

['quick', 'brown', 'fox']

9

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dinosaur']

#### EXERCISE 4: Tangled lists

*Objective: Navigate a set of lists nested inside lists, use square bracket indexing, use list comprehensions.*

Given this nested list, grab the word dragon:

In [206]:
my_list = [0,4,[4,3,2],[420, 250, [1,2,3,'dragon']],365,23,6]

'dragon'

Convert the following list from strings to integers:

In [60]:
# YOUR CODE HERE:

ZIP_list = ['10009','20009','20034','90210']

[10009, 20009, 20034, 90210]

#### EXERCISE 5: Prime numbers
*Objective: Combine loops, logic conditions and math operations.*

Write a program to loop from 1 to 100 and print all the prime numbers

In [58]:
# YOUR CODE HERE:

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### EXERCISE 6: Phone directory
*Objective: Use a list comprehension and list methods.*

Take a list of names, and get them in phone directory order ("first name, last name", in alphabetical order):

In [45]:
names = ['John Lennon', 'Serena Williams', 'Ingrid Bergman', 'Mikhail Gorbachev']

['Bergman, Ingrid', 'Gorbachev, Mikhail', 'Lennon, John', 'Williams, Serena']