# Python for Data Science - Week 3 Lab
This week's exercises are to get you writing functions (a great way to organize your code) and start loading and manipulating data in Pandas.

## 1. Functions

__EXERCISE 1a: Happy birthday to me__

_Objective: Write a simple function with no parameters_
* Write a function that prints the words "happy birthday to me, happy birthday to me, happy birtday dear me, happy birthday to me" (on four separate lines).

In [ ]:
# YOUR CODE HERE:

def happy_birthday():
    # write your subsidary code block here

__EXERCISE 1b: Happy birthday to you__

_Objective: Write a function with one parameter_
* Re-write the function with one parameter, person.
* Call your function so it sings happy birthday to your favorite Python teacher.

In [6]:
# YOUR CODE HERE:

__Exercise 1c: Happy birthday to all of you__

_Objective: Call your function from within a for loop_
* Create a variable 'people': make this a list with the names of some favorite people (eg. your Python instructors) in it.
* Write a for loop to iterate through the items in your list.
* On each turn through the loop, call your happy_birthday function, so your program sings to each person in turn.

In [ ]:
# YOUR CODE HERE:

## 2. Pandas

In [9]:
import pandas as pd

__EXERCISE 2.1: Pie shop__

_Objective: Create and manipulate DataFrames_
* Create a DataFrame with three columns: month, apple_pie_sales, blueberry_pie_sales
* Summarize which products sold best
* Create a new column to summarize revenues

In [ ]:
# YOUR CODE HERE: create the df

months = ['Jan','Feb', 'Mar', 'Apr']
applie_pie_sales = [34, 19, 28, 45]
blueberry_pie_sales [18, 6, 15, 51]

df = pd.DataFrame()

In [ ]:
# YOUR CODE HERE: calculate total sales of apple pies and total sales of blueberry pies

In [ ]:
# YOUR CODE HERE: create a new columns entitled apple_pie_revenue and blueberry_pie_revenue

apple_pie_price = 12
blueberry_pie_price = 15

In [ ]:
# BONUS: find a way to plot bar charts and pie charts (ha) of the shop's sales

__EXERCISE 2.2: NYC housing__

_Objective: clean and manipulate a real-world dataset_
We are using the PLUTO (Primary Land Use Tax Lot Output) database, which lists every building in New York City.
Source is [NYC Open Data Portal](https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page). For field details, check the [data dictionary](https://www1.nyc.gov/assets/planning/download/pdf/data-maps/open-data/pluto_datadictionary.pdf?r=18v2beta).

In [35]:
url = 'https://github.com/worldbank/Python-for-Data-Science/raw/master/week%203/pluto_shorter.csv'
df = pd.read_csv(url)

/Users/nicholasjones/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (18,19,21,23,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

__Step 1: Inspect the dataset, list its columns, keep only selected columns__

In [36]:
# Run this. It's messy, no?
df.head()

,Unnamed: 0,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,...,firm07_flag,pfirm15_flag,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate
0,0,BX,5641.0,670.0,210.0,516.00,2.0,NaN,13.0,NaN,...,1.0,1.0,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
1,20,QN,4671.0,39.0,407.0,1039.00,2011.0,25.0,19.0,11357.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
2,40,BK,3925.0,32.0,305.0,1172.02,2004.0,19.0,37.0,11208.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
3,60,MN,1836.0,19.0,107.0,189.00,2002.0,3.0,7.0,10025.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018
4,80,QN,8898.0,16.0,409.0,4.00,2001.0,27.0,30.0,11421.0,...,NaN,NaN,12/6/2018,12/20/2018,12/21/2018,12/20/2018,12/21/2018,NaN,NaN,12/20/2018

In [37]:
# We'll select some columns to keep
df.columns

Index(['Unnamed: 0', 'borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010',
       'schooldist', 'council', 'zipcode', 'firecomp', 'policeprct',
       'healtharea', 'sanitboro', 'sanitsub', 'address', 'zonedist1',
       'zonedist2', 'zonedist3', 'zonedist4', 'overlay1', 'overlay2',
       'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone', 'bldgclass',
       'landuse', 'easements', 'ownertype', 'ownername', 'lotarea', 'bldgarea',
       'comarea', 'resarea', 'officearea', 'retailarea', 'garagearea',
       'strgearea', 'factryarea', 'otherarea', 'areasource', 'numbldgs',
       'numfloors', 'unitsres', 'unitstotal', 'lotfront', 'lotdepth',
       'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode', 'lottype',
       'bsmtcode', 'assessland', 'assesstot', 'exemptland', 'exempttot',
       'yearbuilt', 'yearalter1', 'yearalter2', 'histdist', 'landmark',
       'builtfar', 'residfar', 'commfar', 'facilfar', 'borocode', 'bbl',
       'condono', 'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode',
       'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'mappluto_f',
       'plutomapid', 'version', 'sanitdistrict', 'healthcenterdistrict',
       'firm07_flag', 'pfirm15_flag', 'rpaddate', 'dcasdate', 'zoningdate',
       'landmkdate', 'basempdate', 'masdate', 'polidate', 'edesigdate'],
      dtype='object')

In [38]:
# Note how this syntax works. Add extra columns that interest you.
my_cols = ['borough','numfloors','yearbuilt', 'landuse', 'zipcode', 'assesstot', 'xcoord','ycoord']
df = df[my_cols]

In [17]:
# Cleaner now, right?
df.head()

  borough  numfloors  yearbuilt  landuse  zipcode  unitstotal  assesstot
0      BX       0.00        0.0      7.0      NaN         0.0    59400.0
1      QN       2.50     1925.0      1.0  11357.0         2.0    29738.0
2      BK       2.75     1920.0      1.0  11208.0         2.0    27370.0
3      MN       6.00     1900.0      2.0  10025.0        19.0   510300.0
4      QN       2.00     1901.0      1.0  11421.0         2.0    29020.0

In [20]:
# Here is the key that translates NYC's land use codes into plain English
# We'll use the df.map() method to replace the numbers with text we can understand

# BONUS POINTS: repeat this step to substitute the short borough names (eg. MN) with the actual
# full borough names (eg. MN becomes Manhattan).

land_use_dict = {1: 'One & Two Family Buildings',
                2: 'Multi-Family Walk-Up Buildings',
                3: 'Multi-Family Elevator Buildings',
                4: 'Mixed Residential & Commercial Buildings',
                5: 'Commercial & Office Buildings',
                6: 'Industrial & Manufacturing',
                7: 'Transportation & Utility',
                8: 'Public Facilities & Institutions',
                9: 'Open Space & Outdoor Recreation',
                10: 'Parking Facilities',
                11: 'Vacant Land'}

df['landuse'] = df['landuse'].map(land_use_dict)

__Step 2: Summarize data using mean(), min/max(), describe() etc.__
* Find out the average price of a building in Manhattan (MN) compared with Queens (QN)
* What was the most expensive building built in the year you were born?
* Compare average building

BONUS: find the average price for buildings in Brooklyn with 5-10 floors built between 2000-2010. Do the same for buildings in Manhattan and Queens with those characteristics.

In [ ]:
# YOUR CODE HERE:

__Step 3: Exploratory visualization using Pandas plotting__

In [ ]:
# Try using the function pandas.Series.value_counts
# It returns the unique count of values in a column
# BONUS: Could you produce this output only for Brooklyn?

df.landuse.value_counts()

__YOUR ACTION__: Look up the [pandas.Series.plot](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html) function, and some [examples of how to use it](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html).

Explore any questions that interest you about New York City's buildings by plotting charts, for example:
* How does price vary with age? (scatter of age vs. price)
* How does price vary with age just for Manhattan or Bronx? (hint: take some code from the demo notebook)
* Does the breakdown of building types differ between boroughs? (pie chart of landuse)
* Which zip codes have most and fewest buildings?
* Where are the buildings located? (hint: try a scatter plot of xcoord and y coord)

In [ ]:
# YOUR CODE HERE: